@{ ViewBag.Title = "Orders";
    Layout = ViewData["LayOut"].ToString();
}

    <div class="row">
        <div class="col-md-6">
            <h2>Orders</h2>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("New Order", "Index", "Cart", null, new { @class = "btn btn-primary float-right" })
        </div>
    </div>

        <table id="orders" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="10%">Order Ref.</th>
                    <th width="25%">Order Date</th>
                    <th>Customer Name</th>
                    <th width="25%">Pickup Time</th>
                    <th width="20%">Order Total</th>
                    <th width="10%">Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        @section scripts
{

            <script>
                $(document).ready(function () {
                    var table = $("#orders").DataTable({
                        ajax: {
                            url: "/api/order",
                            dataSrc: ""
                        },
                        columns: [
                            {
                                data: "orderReference",
                                render: function (data, type, order) {
                                    return order.orderReference;
                                }
                            },
                            {
                                data: "createdAt",
                                render: function (data, type, order) {
                                    return moment(order.createdAt).format('MMMM Do YYYY');
                                }
                            },
                            {
                                data: "customerName",
                                render: function (data, type, order) {
                                    return order.customerName + "/" + order.customerPhone
                                }
                            },
                            {
                                data: "pickUpDateTime",
                                render: function (data, type, order) {
                                    return moment(data).format('MMMM Do, h:mm a');
                                }
                            },
                            {
                                data: "totalCost",
                                render: function (data, type, order) {
                                    return order.totalCost;
                                }
                            },
                            {
                                data: "status",
                                render: function (data, type, order) {
                                    switch (data) {
                                        case 1:
                                            return "Accepted";
                                        case 2:
                                            return "Processing";
                                        case 3:
                                            return "Ready to Dispatch";
                                        case 4:
                                            return "Dispatched";
                                        case 5:
                                            return "Customer Collected";
                                        case 6:
                                            return "Cancelled";
                                            break;
                                        default:
                                            return "New";
                                    }
                                }
                            },
                            {
                                data: "id",
                                render: function (data, type, order) {
                                    let content = "<a href='/Order/ViewOrder/" + order.id + "' class='btn btn-info btn-sm'>View</a>";
                                    if (order.status !== 6 && order.status !== 5) { content += "<button class='btn btn-warning btn-sm status' data-order-type='6' data-order-id=" + data + ">Cancel</button>"; }
                                    if (order.status === 0) { content += "<button class='btn btn-success btn-sm status' data-order-type='1' data-order-id=" + data + ">Accept</button>"; }
                                    if (order.status === 1) { content += "<button class='btn btn-success btn-sm status' data-order-type='2' data-order-id=" + data + ">Start Process</button>"; }
                                    if (order.status === 2) { content += "<button class='btn btn-success btn-sm status' data-order-type='3' data-order-id=" + data + ">Ready to Dispatch</button>"; }
                                    if (order.status === 3) { content += "<button class='btn btn-success btn-sm status' data-order-type='4' data-order-id=" + data + ">Dispatched</button>"; }
                                    if (order.status === 4) { content += "<button class='btn btn-success btn-sm status' data-order-type='5' data-order-id=" + data + ">Collected</button>"; }

                                    content += "<button class='btn btn-danger btn-sm status' data-order-type='99' data-order-id=" + data + ">Delete</button>";

                                    return "<div class='btn-group'>" + content + "</div>";
                                }
                            }
                        ]
                    });

                    $("#orders").on("click", ".status", function () {
                        var id = $(this).attr("data-order-id");
                        var type = $(this).attr("data-order-type");
                        var message = $(this).text();
                        if (confirm("are you sure you want to " + message + " the order?")) {
                            $.ajax({
                                url: "/api/order/" + id,
                                method: "PUT",
                                data: {
                                    Status: type,
                                },
                                dataType: "json",
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            })
                        }
                    })
                })</script>
        }