@{ ViewBag.Title = "Orders";
    Layout = ViewData["LayOut"].ToString();
    }

@section styles
{
    @Styles.Render("~/bundles/datatable-css")
}


<section>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Order History</h2>
                </div>
            </div>
        </div>

        <table id="orders" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="10%">Order Ref.</th>
                    <th width="25%">Order Date</th>
                    <th width="25%">Pickup Time</th>
                    <th width="20%">Order Total</th>
                    <th width="10%">Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        @section scripts
{
            @Scripts.Render("~/bundles/datatable-js")

            <script>
                $(document).ready(function () {
                    var table = $("#orders").DataTable({
                        ajax: {
                            url: "/api/order",
                            dataSrc: ""
                        },
                        columns: [
                            {
                                data: "orderReference",
                                render: function (data, type, order) {
                                    return "<a href='/Order/trackOrder/" + order.id + "' class='genric-btn success radius btn-sm'>" + order.orderReference+"</a>";
                                }
                            },
                            {
                                data: "createdAt",
                                render: function (data, type, order) {
                                    return moment(data).format('MMMM Do YYYY')
                                }
                            },
                            {
                                data: "pickUpDateTime",
                                render: function (data, type, order) {
                                    return moment(data).format('MMMM Do YYYY, h:mm a')
                                }
                            },
                            {
                                data: "totalCost",
                                render: function (data, type, order) {
                                    return order.totalCost;
                                }
                            },
                            {
                                data: "status",
                                render: function (data, type, order) {
                                    switch (data) {
                                        case 2:
                                            return "Accepted";
                                        case 2:
                                            return "Processing";
                                        case 3:
                                            return "Ready to Dispatch";
                                        case 4:
                                            return "Dispatched";
                                        case 5:
                                            return "Customer Collected";
                                        case 6:
                                            return "Cancelled";
                                            break;
                                        default:
                                            return "New";
                                    }
                                }
                            },
                            {
                                data: "id",
                                render: function (data, type, order) {
                                    let content = "<a href='/Order/ViewOrder/" + order.id + "' class='genric-btn success radius btn-sm'>View</a>";
                                    if (order.status !== 6 && order.status !== 5) { content += "<button class='genric-btn warning radius status' data-order-type='6' data-order-id=" + data + ">Cancel</button>"; }

                                    content += "<button class='genric-btn danger radius status' data-order-type='99' data-order-id=" + data + ">Delete</button>";

                                    return "<div class='btn-group'>" + content + "</div>";
                                }
                            }
                        ]
                    });

                    $("#orders").on("click", ".status", function () {
                        var id = $(this).attr("data-order-id");
                        var type = $(this).attr("data-order-type");
                        var message = $(this).text();
                        if (confirm("are you sure you want to " + message + " the order?")) {
                            $.ajax({
                                url: "/api/order/" + id,
                                method: "PUT",
                                data: {
                                    Status: type,
                                },
                                dataType: "json",
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            })
                        }
                    })
                })</script>
        }

    </div>
</section>
