@model LaundryManagerWeb.Models.ManageLoginsViewModel


@{ ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
    <div class="row">
        <div class="col-md-6">
            <h2>Users</h2>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("New User", "CreateUser", "Manage", null, new { @class = "btn btn-primary float-right" })
        </div>
    </div>

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#users").DataTable({
                ajax: {
                    url: "/api/user",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },

                    {
                        data: "email"
                    },
                    {
                        data: "phoneNumber"
                    },
                    {
                        data: "propertyId",
                        render: function (data, type, user) {
                            if (user.propertyId > 0)
                                return user.propertyId
                            else
                                return "";
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, user) {
                            let content = "<a href='/Manage/UpdateUser/" + user.id + "' class='btn btn-success btn-sm'>Edit</a>";
                            content += "<button class='btn btn-danger btn-sm delete' data-user-id=" + data + ">Delete</button>";

                            return "<div class='btn-group'>" + content + "</div>";
                        }
                    }
                ]
            });

            $("#users").on("click", ".delete", function () {
                var button = $(this).attr("data-user-id");
                if (confirm("are you sure you want to delete the user?")) {
                    $.ajax({
                        url: "/api/user/" + button,
                        method: "DELETE",
                        dataType: "json",
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
            })
        })</script>
}
