@model System.Web.Mvc.HandleErrorInfo

@{ ViewBag.Title = "Error"; }

    <div class="container-fluid">

        <div class="text-center">
            <h2 class=" mx-auto" data-text="404">Error</h2>
            <p class="text-gray-500 mb-0">An error occurred while processing your request..</p>
            <a href="/">&larr; Back to Home Page</a>
        </div>

    </div>
