.auth-container {
    min-width: 30%;
    margin: auto;
    max-width: 500px;
}

    .auth-container a {
        color: #6785FF;
    }

    .auth-container .auth-bottom {
        display: inline-block;
        width: 100%;
    }

.productcont {
    display: flex;
}

.product {
    padding: 1em;
    border: 1px solid #E0E4CC;
    margin-right: 1em;
    border-radius: 5px;
}

.product-img {
    text-align: center;
}
.product-img img {
    width: 132px;
}

.product-details {
    margin: auto 0;
    text-align:center;
}

.product-footer {
    margin: 0 auto;
    text-align:center;
}

.cart-container {
    border: 1px solid #E0E4CC;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
}

button, input[type="submit"] {
    border: 1px solid #FA6900;
    color: #fff;
    background: #F38630;
    padding: 0.6em 1em;
    font-size: 1em;
    line-height: 1;
    border-radius: 1.2em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

    button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
        background: #A7DBD8;
        border-color: #69D2E7;
        color: #000;
        cursor: pointer;
    }

table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

    table td, table th {
        text-align: left;
        padding: 0.25em 1em;
        border-bottom: 1px solid #E0E4CC;
    }

#carttotals {
    margin-right: 0;
    margin-left: auto;
}

.cart-buttons {
    width: auto;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
}

#emptycart {
    margin-right: 1em;
}

table td:nth-last-child(1) {
    text-align: right;
}

.message {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #A7DBD8;
    color: #679996;
    padding: 0.5em 0;
    margin: 1em 0;
}

.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

            .invoice-box table tr.top table td.title {
                font-size: 45px;
                line-height: 45px;
                color: #333;
            }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

/** RTL **/
.rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

    .rtl table {
        text-align: right;
    }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }